<a href="https://colab.research.google.com/github/maiormarso/DS-Unit-2-Applied-Modeling/blob/master/10_241_d_assignment_applied_modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This dataset includes trip records from all trips completed in 
Green Taxis in NYC from January to June in 2015. Updated 9/10/2018. 
Data provided by the Taxi and Limousine Commission(TLC)
https://data.cityofnewyork.us/Transportation/2015-Green-Taxi-Trip-Data/gi8d-wdg5

In [0]:
import pandas as pd
df3 = pd.read_csv('c://DS//231//df2.csv')

In the df2.csv, the following columns were dropped most of which were created seperating the datetime date and making the 24 hour time column, plus the Ehail_fee column which was mostly missing data.

In [0]:
# This removes an unwanted 'Unnamed: 0' column created when making the df3.cvs dataset
df3=df3.drop(['Unnamed: 0'], axis=1)

In [0]:
df3.head(1)

,vendorid,Store_and_fwd_flag,rate_code,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,Trip_distance,Fare_amount,...,Tip_amount,Tolls_amount,Improvement_surcharge,Total_amount,Payment_type,Trip_type,pickup_date2,dropoff_date2,pickup_24,dropoff_24
0,2,N,1,-73.828262,40.693958,-73.776329,40.645348,1,5.95,19.0,...,4.75,0.0,0.3,24.55,1,1.0,2015-02-10,2015-02-10,08:46:15,08:59:50

In [0]:
df3.shape

(19233765, 22)

Chosen your target. Which column in your tabular dataset will you predict? The derived classification target will be 'Tip_amount'

In [0]:
df3['Tip_toFare'] = df3['Tip_amount'] / df3['Fare_amount']

In [0]:
# Derive binary classification target:
# We define a 'Great' Taxi trip as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated Tip_amount.
#df3 = df.dropna(subset=['overall'])
df3['Great'] = df3['Tip_toFare'] >= .30
df3['Great'].describe()

count     19233765
unique           2
top          False
freq      18281305
Name: Great, dtype: object

In [0]:
target = 'Great'

In [0]:
df3['Great'].isnull().sum()

0

In [0]:
# df3 = df3.apply(pd.to_numeric, errors='coerce')
# df3 = df3.dropna()

The df3.describe() indicates that Fare_amount, Extra, MTA_tax, Tip_amount, Tolls_amount, Improvement_surcharge and Total_amount have negative values; and here, are converted to thier absolute value.

In [0]:
df3.describe()

,vendorid,rate_code,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,Trip_distance,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,Improvement_surcharge,Total_amount,Payment_type,Trip_type,Tip_toFare
count,1.923376e+07,1.923376e+07,1.923376e+07,1.923376e+07,1.923376e+07,1.923376e+07,1.923376e+07,1.923376e+07,1.923376e+07,1.923376e+07,1.923376e+07,1.923376e+07,1.923376e+07,1.923376e+07,1.923376e+07,1.923376e+07,1.923369e+07,1.917827e+07
mean,1.781024e+00,1.099558e+00,-7.382873e+01,4.069085e+01,-7.383247e+01,4.069154e+01,1.374881e+00,2.880014e+00,1.233097e+01,3.523505e-01,4.863494e-01,1.214484e+00,1.132660e-01,2.907562e-01,1.484065e+01,1.548207e+00,1.023004e+00,inf
std,4.135521e-01,6.464662e-01,2.804967e+00,1.546499e+00,2.740435e+00,1.510833e+00,1.049344e+00,3.017242e+00,1.071811e+01,3.659714e-01,8.921556e-02,3.342661e+00,1.148614e+00,5.369730e-02,2.260808e+02,5.235404e-01,1.499159e-01,NaN
min,1.000000e+00,1.000000e+00,-1.223996e+02,0.000000e+00,-1.223996e+02,0.000000e+00,0.000000e+00,0.000000e+00,-4.990000e+02,-1.000000e+00,-4.950000e+01,-1.000000e+02,-1.816000e+01,-3.000000e-01,-4.990000e+02,1.000000e+00,1.000000e+00,-9.009009e-03
25%,2.000000e+00,1.000000e+00,-7.395933e+01,4.069925e+01,-7.396709e+01,4.070002e+01,1.000000e+00,1.060000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,7.850000e+00,1.000000e+00,1.000000e+00,0.000000e+00
50%,2.000000e+00,1.000000e+00,-7.394505e+01,4.074687e+01,-7.394437e+01,4.074786e+01,1.000000e+00,1.900000e+00,9.500000e+00,5.000000e-01,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,1.130000e+01,2.000000e+00,1.000000e+00,0.000000e+00
75%,2.000000e+00,1.000000e+00,-7.391687e+01,4.080359e+01,-7.390933e+01,4.079250e+01,1.000000e+00,3.640000e+00,1.500000e+01,5.000000e-01,5.000000e-01,2.000000e+00,0.000000e+00,3.000000e-01,1.780000e+01,2.000000e+00,1.000000e+00,2.119048e-01
max,2.000000e+00,9.900000e+01,0.000000e+00,4.341588e+01,0.000000e+00,4.509433e+01,9.000000e+00,8.304000e+02,8.010500e+03,6.000000e+01,5.354000e+01,2.017730e+03,1.226100e+03,3.000000e-01,9.899704e+05,5.000000e+00,2.000000e+00,inf

In [0]:
df3.Fare_amount = df3.Fare_amount.abs()

In [0]:
df3.Extra = df3.Extra.abs()

In [0]:
df3.MTA_tax = df3.MTA_tax.abs()

In [0]:
df3.Tip_amount = df3.Tip_amount.abs()

In [0]:
df3.Tolls_amount = df3.Tolls_amount.abs()

In [0]:
df3.Improvement_surcharge = df3.Improvement_surcharge.abs()

In [0]:
df3.Total_amount = df3.Total_amount.abs()

print('Tip_amount',100*df3[df3.Tip_amount<0].shape[0]/float(df3.shape[0]),'%')

In [0]:
df3.describe()

,vendorid,rate_code,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,Trip_distance,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,Improvement_surcharge,Total_amount,Payment_type,Trip_type,Tip_toFare
count,1.923376e+07,1.923376e+07,1.923376e+07,1.923376e+07,1.923376e+07,1.923376e+07,1.923376e+07,1.923376e+07,1.923376e+07,1.923376e+07,1.923376e+07,1.923376e+07,1.923376e+07,1.923376e+07,1.923376e+07,1.923376e+07,1.923369e+07,1.917827e+07
mean,1.781024e+00,1.099558e+00,-7.382873e+01,4.069085e+01,-7.383247e+01,4.069154e+01,1.374881e+00,2.880014e+00,1.236391e+01,3.534510e-01,4.878184e-01,1.214640e+00,1.133072e-01,2.914086e-01,1.487723e+01,1.548207e+00,1.023004e+00,inf
std,4.135521e-01,6.464662e-01,2.804967e+00,1.546499e+00,2.740435e+00,1.510833e+00,1.049344e+00,3.017242e+00,1.068010e+01,3.649087e-01,8.079842e-02,3.342604e+00,1.148610e+00,5.003604e-02,2.260784e+02,5.235404e-01,1.499159e-01,NaN
min,1.000000e+00,1.000000e+00,-1.223996e+02,0.000000e+00,-1.223996e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,-9.009009e-03
25%,2.000000e+00,1.000000e+00,-7.395933e+01,4.069925e+01,-7.396709e+01,4.070002e+01,1.000000e+00,1.060000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,7.880000e+00,1.000000e+00,1.000000e+00,0.000000e+00
50%,2.000000e+00,1.000000e+00,-7.394505e+01,4.074687e+01,-7.394437e+01,4.074786e+01,1.000000e+00,1.900000e+00,9.500000e+00,5.000000e-01,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,1.130000e+01,2.000000e+00,1.000000e+00,0.000000e+00
75%,2.000000e+00,1.000000e+00,-7.391687e+01,4.080359e+01,-7.390933e+01,4.079250e+01,1.000000e+00,3.640000e+00,1.500000e+01,5.000000e-01,5.000000e-01,2.000000e+00,0.000000e+00,3.000000e-01,1.780000e+01,2.000000e+00,1.000000e+00,2.119048e-01
max,2.000000e+00,9.900000e+01,0.000000e+00,4.341588e+01,0.000000e+00,4.509433e+01,9.000000e+00,8.304000e+02,8.010500e+03,6.000000e+01,5.354000e+01,2.017730e+03,1.226100e+03,3.000000e-01,9.899704e+05,5.000000e+00,2.000000e+00,inf

There are 72 NaNs in the 'Trip_type column, which are filled in with the same value from the previous row.

In [0]:
df3['Trip_type'].isnull().sum()

72

In [0]:
df3['Trip_type'].fillna(method='ffill', inplace=True)

In [0]:
df3['Trip_type'].unique()

array([1., 2.])

Rate_code

In [0]:
df3['rate_code'].describe()

count    1.923376e+07
mean     1.099558e+00
std      6.464662e-01
min      1.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      1.000000e+00
max      9.900000e+01
Name: rate_code, dtype: float64

Choose which obsevation you will use to train validat and test

In [0]:
#Remove rows with '0' zero Tip_amount.

Tip_index = df3[df3['Tip_amount'] == 0 ].index
df3.drop(Tip_index , inplace=True)

In [0]:
df3['Tip_amount']>=4

0            True
1           False
17           True
19          False
20          False
            ...
19233749    False
19233751    False
19233752    False
19233758    False
19233763     True
Name: Tip_amount, Length: 7594094, dtype: bool

In [0]:
df3['Tip_amount'].nunique()

4428

In [0]:
df3['Tip_amount'].value_counts()

1.00     630839
2.00     523797
3.00     213199
1.50     141680
1.46     114275
          ...
98.61         1
38.11         1
46.12         1
28.07         1
98.76         1
Name: Tip_amount, Length: 4427, dtype: int64

In [0]:
df3.loc[df3['Tip_amount'] == 46.12]

,vendorid,Store_and_fwd_flag,rate_code,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,Trip_distance,Fare_amount,...,Total_amount,Payment_type,Trip_type,pickup_date2,dropoff_date2,pickup_24,dropoff_24,Tip_toFare,Great,Month
2602582,2,N,5,-73.897217,40.613533,-74.892227,40.150005,2,80.58,200.0,...,276.7,1,2.0,2015-07-02,2015-07-02,11:26:17,13:01:07,0.2306,False,7

In [0]:
# Drop (Remove) row no time, no distance, same long and lat coordinates                                      )
Tip_out = df3[df3['Tip_amount'] == 169.00 ].index
df3.drop(Tip_out , inplace=True)

In [0]:
y =  df3['Great']

In [0]:
y.nunique()

2

In [0]:
df3.Great.unique()

array([False,  True])

The majority class occurs with 60% frequency, so this is not to imbalanced.

In [0]:
y.value_counts(normalize=True).max()

0.8745788503539724

In [0]:
y.describe()

count     7594094
unique          2
top         False
freq      6641634
Name: Great, dtype: object

In [0]:
################################

Train on reviews from 2016 and earlier, Validate on 2017. Test on 2018 & on

How is the target distributed? Regression How many classes? 4522 Are the classes imbalanced? 0.60

In [0]:
df3['pickup_date2'] = pd.to_datetime(df3['pickup_date2'])

In [0]:
df3['Month'] = df3['pickup_date2'].dt.month

In [0]:
train = df3[df3['pickup_date2'].dt.month <= 7]
val = df3[df3['pickup_date2'].dt.month == 8 ]
test = df3[df3['pickup_date2'].dt.month >= 9]

In [0]:
train.head(1)

,vendorid,Store_and_fwd_flag,rate_code,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,Trip_distance,Fare_amount,...,Total_amount,Payment_type,Trip_type,pickup_date2,dropoff_date2,pickup_24,dropoff_24,Tip_toFare,Great,Month
0,2,N,1,-73.828262,40.693958,-73.776329,40.645348,1,5.95,19.0,...,24.55,1,1.0,2015-02-10,2015-02-10,08:46:15,08:59:50,0.25,False,2

In [0]:
val.head(1)

,vendorid,Store_and_fwd_flag,rate_code,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,Trip_distance,Fare_amount,...,Total_amount,Payment_type,Trip_type,pickup_date2,dropoff_date2,pickup_24,dropoff_24,Tip_toFare,Great,Month
238741,2,N,5,-73.936462,40.679688,-73.936539,40.679691,2,0.0,40.0,...,52.0,1,2.0,2015-08-03,2015-08-03,21:05:28,21:05:50,0.3,True,8

In [0]:
test.head(1)

,vendorid,Store_and_fwd_flag,rate_code,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,Trip_distance,Fare_amount,...,Total_amount,Payment_type,Trip_type,pickup_date2,dropoff_date2,pickup_24,dropoff_24,Tip_toFare,Great,Month
18323,2,N,5,-73.939354,40.693481,-73.939354,40.693478,1,0.0,12.8,...,16.0,1,2.0,2015-09-11,2015-09-11,23:34:38,23:34:42,0.25,False,9

In [0]:
train.shape

(4418158, 25)

In [0]:
val.shape

(596393, 25)

In [0]:
test.shape

(2579543, 25)

There will be a need for more fields to figure out the Tip_amount distribution.

In [0]:
df3['Tip_toFare'] = df3['Tip_amount'] / df3['Fare_amount']

In [0]:
print("Number of vendor_ids in the train dataset: ", len(train["vendorid"]))

Number of vendor_ids in the train dataset:  4418158

In [0]:
print("Number of unique vendor_ids in the train dataset: ", len(pd.unique(train["vendorid"])), "\n")

Number of unique vendor_ids in the train dataset:  2

In [0]:
print("Number of vendorids in the test dataset: ", len(test["vendorid"]))

Number of vendorids in the test dataset:  2579543

In [0]:
print("Number of unique vendor_ids in the test dataset: ", len(pd.unique(test["vendorid"])), "\n")

Number of unique vendor_ids in the test dataset:  2

In [0]:
import category_encoders as ce
from sklearn.impute import SimpleImputer
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.tree import DecisionTreeClassifier

In [0]:
target = 'Great'
features = df3['rate_code','Passenger_count',])
X_train = train[features]
y_train = train[target]
X_val = val[features]
y_val = val[target]

SyntaxError: invalid syntax (<ipython-input-48-3e035145e473>, line 2)

In [0]:
pipeline = make_pipeline(
    ce.OrdinalEncoder(), 
    DecisionTreeClassifier(max_depth=3)
)
pipeline.fit(X_train, y_train)
print('Validation Accuracy', pipeline.score(X_val, y_val))

In [0]:
df3['Great'].isnull().sum()

In [0]:
import seaborn as sns
sns.distplot(y)

In [0]:
    # https://www.youtube.com/watch?v=-6s2srZT4j0&feature=youtu.be 1:36:00 minutes

sns.countplot(x="vendorid",data =train);

In [0]:
y.describe()

In [0]:
import seaborn as sns
sns.countplot(x="Passenger_count", data=train) == 1
sns.countplot(x='Passenger_count',data =train[train['vendorid'] == 1])

In [0]:
df3.head(1)

In [0]:
sns.distplot(y)

In [0]:
import numpy as np
import matplotlib.pyplot as plt
y_log = np.log1p(y)

In [0]:
sns.distplot(y_log)
plt.title('Original target, in the unit of ');

In [0]:
sns.countplot(x="Passenger_count", data=train[train["vendorid"] == 1])

In [0]:
sns.countplot(x="Passenger_count", data=train[train["vendorid"] == 2])

In [0]:
df3.head(1)

In [0]:
#df3['Trip_dur'] = df3.dropoff_24 - df3.pickup_24
arrival = pd.to_datetime(df3['dropoff_24'])
dept = pd.to_datetime(df3['pickup_24'])
df3['Trip_dur'] = arrival - dept

In [0]:
df3.head(1)

In [0]:
Begin to choose which features, if any to exclude.

In [0]:
# df['pickup_24hr'] = pd.to_datetime(df['pickup_date2'].apply(str)+' '+df['pickup_24'])
# df['dropoff_24hr'] = pd.to_datetime(df['dropoff_date2'].apply(str)+' '+df['dropoff_24'])

In [0]:
from sklearn import svm, datasets
from sklearn.model_selection import cross_val_score
X, y = datasets.ds2(return_X_y=True)
clf = svm.SVC(random_state=0)
cross_val_score(clf, X, y, cv=5, scoring='recall_macro')
#array([0.96..., 0.96..., 0.96..., 0.93..., 1.        ])
model = svm.SVC()
cross_val_score(model, X, y, cv=5, scoring='wrong_choice')
#Traceback (most recent call last):
#ValueError: 'Wrong_choice' is not a valid scoring value. Use sorted(sklearn.metrics.SCORERS.keys()) 
    #to get valid options.

In [0]:
>>> import numpy as np
from sklearn.metrics import fbeta_score, make_scorer
>>> def my_custom_loss_func(y_true, y_pred):
...     diff = np.abs(y_true - y_pred).max()
...     return np.log1p(diff)
...
>>> # score will negate the return value of my_custom_loss_func,
>>> # which will be np.log(2), 0.693, given the values for X
>>> # and y defined below.
>>> score = make_scorer(my_custom_loss_func, greater_is_better=False)
>>> X = [[1], [1]]
>>> y = [0, 1]
>>> from sklearn.dummy import DummyClassifier
>>> clf = DummyClassifier(strategy='most_frequent', random_state=0)
>>> clf = clf.fit(X, y)
>>> my_custom_loss_func(clf.predict(X), y)

In [0]:
#https://scikit-learn.org/stable/modules/model_evaluation.html#common-cases-predefined-values

    #For example, to use n_jobs greater than 1 in the example below, custom_scoring_function
#function is saved in a user-created module (custom_scorer_module.py) and imported:
# >>> from custom_scorer_module import custom_scoring_function 
# >>> cross_val_score(model,
# ...  X_train,
# ...  y_train,
# ...  scoring=make_scorer(custom_scoring_function, greater_is_better=False),
# ...  cv=5,
# ...  n_jobs=-1)